<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <button class="btn btn-primary" (click)="saveOffer()">Save Candidates</button>
      <app-job-form [(offer)]="offer" (getCandidates)="getCandidates($event)"></app-job-form>
    </div>
    <div class="col-lg-8">
      <tabset *ngIf="candidates" >
        <tab heading='Candidates'>
          <app-candidates [candidates]="candidates"></app-candidates>
        </tab>
        <tab heading='Graphs'>
          <app-graphs [candidates]="candidates"></app-graphs>
        </tab>
      </tabset>
    </div>
  </div>
</div>
